// variables 

$website-width: 1280px;
$main-color: #061639;
$icon-color: #152B55;
$light-color: #e3e1e1;
$medium-color: #4E648E;
$dark-color: #333;
$bg-img : url('../img/showcase.jpg');
$bg-img2 : url('../img/showcase2.jpg');
$bg-img3 : url('../img/showcase3.jpg');
$bg-img4 : url('../img/showcase4.jpg');
$bg-img5 : url('../img/showcase5.jpg');
    
    
    
